.nav-link {
    padding: 8px 12px;
    text-decoration: none;
    color: #333;
  }
  
  .active-link {
    background: none !important;
    color: #0d6efd !important; /* Bootstrap's primary color (dark blue) */
    font-weight: bold;
  }
  
  