<ngx-slick-carousel
  class="carousel"
  [config]="slideConfig"
>
  <div ngxSlickItem *ngFor="let category of categories" class="slide px-2">
    <div class="card text-center">
      <img [src]="category.image" class="card-img-top" alt="{{ category.title }}" />
      <div class="card-body">
        <h5 class="card-title">{{ category.title }}</h5>
        <p class="card-text">{{ category.count }} items</p>
        <a [href]="category.link" class="btn btn-primary">Explore</a>
      </div>
    </div>
  </div>
</ngx-slick-carousel>
