<div class="container py-4">
  <!-- Filter Tabs -->
  <app-category-tabs
  [selectedCategory]="selectedCategory"
  (categoryChange)="setCategory($event)"
></app-category-tabs>


  <!-- Product Grid -->
  <div class="product-container isotope-container aos-init aos-animate" data-aos="fade-up" data-aos-delay="200" >
  <div class="row">
    <app-product-card (viewItem)="viewPoducts()" class="col-3"
      *ngFor="let product of filteredProducts"
      [product]="product"
    ></app-product-card>
  </div>
</div>
</div>
